body {
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}



.categoria{
    background-color: darkgoldenrod;
    width: 90%;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}



.conten_menu{
    background-color: coral;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto ;
    align-items: center;
    justify-content: space-between;


}


.element{

    background-color: blue;
    width: 95%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    
    flex-direction: column;
    
    
}

.conten_img
{
    background-color: blueviolet;
    width: auto;
    height: auto;

}

img{
    width: 100%;
    height: 100%;
}

.precio_item{

    background-color: cyan;
   

    width: auto;
    height:80px;
}

